<ul class="books-list">
  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Evans-Eric-ebook/dp/B00794TAUG" target="_blank">
      <div class="book-info">
        <h3>Domain-Driven Design</h3>
        <p>Eric Evans</p>
      </div>
      <img src="/assets/images/books/domain-driven-design-eric-evans.jpg" alt="Domain-Driven Design by Eric Evans">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/dp/B00BCLEBN8" target="_blank">
      <div class="book-info">
        <h3>Implementing Domain-Driven Design</h3>
        <p>Vernon Vaughn</p>
      </div>
      <img src="/assets/images/books/implementing-ddd.jpg" alt="Implementing Domain-Driven Design by Vernon Vaughn">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Vaughn-Vernon/dp/0134434420" target="_blank">
      <div class="book-info">
        <h3>Domain-Driven Design Distilled</h3>
        <p>Vaughn Vernon</p>
        <small>Read this before the former two, but it won't replace them!</small>
      </div>
      <img src="/assets/images/books/ddd-distilled-vaughn-vernon.jpg" alt="Domain-Driven Design Distilled by Vaughn Vernon">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Sameer-Paradkar/dp/178829923X" target="_blank">
      <div class="book-info">
        <h3>Mastering Non-Functional Requirements</h3>
        <p>Sameer Paradkar</p>
      </div>
      <img src="/assets/images/books/mastering-non-functional-requirements.jpg" alt="Mastering Non-Functional Requirements by Sameer Paradkar">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Team-Topologies-Organizing-Business-Technology/dp/1942788819" target="_blank">
      <div class="book-info">
        <h3>Team Topologies</h3>
        <p>Matthew Skelton & Manuel Pais</p>
      </div>
      <img src="/assets/images/books/team-topologies-manuel-pais.jpg" alt="Team Topologies by Matthew Skelton & Manuel Pais">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/dp/B008OHVDFM" target="_blank">
      <div class="book-info">
        <h3>Patterns of Enterprise Application Architecture</h3>
        <p>Martin Fowler</p>
      </div>
      <img src="/assets/images/books/patterns-of-enterprise-architecture.jpg" alt="Patterns of Enterprise Application Architecture by Martin Fowler">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Robert-Martin/dp/0132350882" target="_blank">
      <div class="book-info">
        <h3>Clean Code</h3>
        <p>Robert Martin</p>
      </div>
      <img src="/assets/images/books/clean-clode.jpg" alt="Clean Code by Robert Martin">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164" target="_blank">
      <div class="book-info">
        <h3>Clean Architecture</h3>
        <p>Robert C. Martin</p>
      </div>
      <img src="/assets/images/books/clean-architecture.jpg" alt="Clean Architecture by Robert C. Martin">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/Your-Code-Crime-Scene-Bottlenecks/dp/1680500384" target="_blank">
      <div class="book-info">
        <h3>Your Code As a Crime Scene</h3>
        <p>Adam Tornhill</p>
      </div>
      <img src="/assets/images/books/your-code-as-a-crime-scene.jpg" alt="Your Code As a Crime Scene by Adam Tornhill">
    </a>
  </li>
  
  <li class="book-item">
    <a href="https://www.amazon.de/Domain-Driven-Transformation-Monolithen-Microservices-zukunftsfähig/dp/3864908847" target="_blank">
      <div class="book-info">
        <h3>Domain-Driven Transformation</h3>
        <p>Carola Lilienthal & Henning Schwentner</p>
        <small>Monolithen und Microservices zukunftsfähig machen</small>
      </div>
      <img src="/assets/images/books/domain-driven-transformation-lilienthal-schwenter.jpg" alt="Domain-Driven Transformation by Carola Lilienthal & Henning Schwentner">
    </a>
  </li>

  <li class="book-item">
    <a href="https://www.amazon.de/Balancing-Coupling-Software-Design-Architecting/dp/1098150002" target="_blank">
      <div class="book-info">
        <h3>Balancing Coupling in Software Design</h3>
        <p>Vlad Khononov</p>
        <small>Universal Design Principles for Architecting Modular Software Systems</small>
      </div>
      <img src="/assets/images/books/balancing-coupling-vlad.jpg"
        alt="Balancing Coupling in Software Design by Vlad Khononov">
    </a>
  </li>

  <li class="book-item">
    <a href="https://www.amazon.de/-/en/Steve-Krug/dp/0321657292" target="_blank">
      <div class="book-info">
        <h3>Rocket Surgery Made Easy</h3>
        <p>Steve Krug</p>
        <small>The Do-It-Yourself Guide to Finding and Fixing Usability Problems</small>
      </div>
      <img src="/assets/images/books/rocket-surgery-made-easy-krug.jpg" alt="Rocket Surgery Made Easy by Steve Krug">
    </a>
  </li>

  <li class="book-item">
    <a href="https://www.oreilly.com/library/view/humane-interface-the/0201379376/" target="_blank">
      <div class="book-info">
        <h3>The Humane Interface</h3>
        <p>Jef Raskin</p>
        <small>New Directions for Designing Interactive Systems</small>
      </div>
      <img src="/assets/images/books/the-humane-interface-jef-raskin.jpg" alt="The Humane Interface by Jef Raskin">
    </a>
  </li>

</ul>
