---
---

.text-align-center {
    text-align: center;
    display: block;
}

.center-image {
    margin: 20px 20px 20px 20px;
    display: block;
}

.align-right {
    float: right;
    text-align: right;
    display: block;
}
