<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/tabs.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/quotes.js" | relative_url }}"></script>
    <script type="module" src="{{ "/assets/js/mermaid-setup.js" | relative_url }}?v=13"></script>

  </body>

</html> 